* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Montserrat";
}


.inicial {
    text-align: center;
    font-size: 16px;
    background-color: white;
    /* height: 100vh;
     width: 100vw; */
}


.navegacao {
    background-image: linear-gradient(hsl(155, 100%, 95%), hsl(220, 100%, 90%));
    text-decoration: none;
}


img {
    width: 20%;
    height: 20%;

}

.area_menu  {
    width: 1220px;

   
}

.menu {
    float: right;
    padding: 20px 0;
    
}

.menu a:visited {
    color: rgb(168, 79, 79);
}


.menu a:link {
    color: rgb(7, 7, 7);
    
}


.menu a {
    text-decoration: none;
    padding: 5px;
   

}


.menu a:hover {
    color: #000000;
    background-color: #ccddff;
}


.logo-central {
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    max-width: auto;
    width: 100%;




}

h1 {
    text-align: justify;
    text-align: center;
    padding: 10px;
    font-family: "Roboto", "Montserrat";
    font-style: normal; 
}

.logo-central img {
    width: 45%;
    margin-left: 10%;
}

.linha {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin: 0px auto 0.1em;
    padding: 0.9em 20%;

}

.o {
    padding: 10%;
    background-image: linear-gradient(to top, #c4e8ff, #1399ec);
    color: #fff;
   
}


h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;

}

b { /* SOBRE */
    font-size: 80px;
    position: relative;
    top: -100px;

}

hr {
    color: rgba(90, 90, 247, 0.452);
}
.linha-reta{
    margin: 0px auto 0.1em;
}



.justificado{

    text-align: justify;
}



.set{
    background-image: linear-gradient(to top, #bfdaee, #48b2f3);
    color: #fff;
    
}

div .serv{
    margin-top: -150px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 45px; 
    justify-items: center;
    align-items: center; 
    
   
}
.grid-item img{
    width: 290px;
    height: 300px;
    object-fit: cover;
    align-items: center;
    border-radius: 5px;
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    transition: background-color 0.5s ease, transform 0.5s ease;
  

}

.grid-item{
    text-align: center;
    font-size: 12px;

    
}

.serv{
text-align: center;
padding-top: 150px;
}

.contac{
    padding: 10%;
    background-image: linear-gradient(to top, #bfdaee, #48b2f3);
    
}
.contac 
.color{
    color: white;
}

.sub-menu-1{
    display: none;
}

/* Define a largura, centraliza o formulário na página, adiciona padding, cor de fundo, bordas arredondadas */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/* Define o rótulo como um bloco e adiciona margens para espaçamento */
label {
    display: block;
    margin: 10px 0 5px;
}

/* Define estilo para os campos de entrada de texto, número, telefone, e-mail, e para caixas de seleção */
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 15px;
    border: 1px solid #0d0e0f;
    border-radius: 10px;
    margin-bottom: 15px;
}
/* A classe alinhar define que os elementos com essa classe serão exibidos em linha e terão uma margem à direita */
.alinhar {
    display: inline-block;
    margin-right: 100px;
}
