* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Montserrat";
}


body {
    font-size: 16px;
    background-color: white;
    /* height: 100vh;
 width: 100vw; */
}


.navegacao {
    background-image: linear-gradient(hsl(155, 100%, 95%), hsl(220, 100%, 90%));
}


img {
    width: 20%;
    height: 20%;

}

.area_menu {
    width: 1220px;
}

.menu {
    float: right;
    padding: 20px 0;
}

.menu a:visited {
    color: rgb(3, 3, 3);
}


.menu a:link {
    color: rgb(12, 20, 20);
}


.menu a {
    text-decoration: nome;
    padding: 5px;
}


.menu a:hover {
    color: #000000;
    background-color: #ccddff;
}


.logo-central {
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    max-width: auto;
    width: 100%;




}

h1 {
    text-align: justify;
    text-align: center;
    padding: 10px;
    font-family: "Roboto", "Montserrat";
}

.logo-central img {
    width: 60%;
    margin-left: 5%;
}

.linha {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin: 0px auto 0.1em;
    padding: 0.9em 20%;

}

.o {
    padding: 20%;
    background-image: linear-gradient(to top, #c4e8ff, #1399ec);
    color: #fff;
   
}


h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;

}

b { /* SOBRE */
    font-size: 80px;
    position: relative;
    top: -100px;

}

hr {
    color: rgba(90, 90, 247, 0.452);
}
.linha-reta{
    margin: 0px auto 0.1em;
}
.Servico{
    padding: 30%;
    background-image: linear-gradient(to top, #c4e8ff, #5f13ec);
}


